body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}

hr {
	height: 1px;
	width: 73px;
	text-align: center;
	position: relative;
	background: #8eb640;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}


/* Nav */
#menu {
	padding: 20px;
	transition: all 0.8s;
}

#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}

#menu.navbar-default .navbar-nav li a {
	text-transform: uppercase;
	color: #ddd;
	font-weight:600;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5;
	margin: 10px 15px 0 15px;
}

#menu.navbar-default .navbar-nav li a:hover {
	color: #8eb640;
}


/* "fix nav bg" */
.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
	color: #8eb640 !important;
	background-color: transparent;
}


/* Header */
.intro {
	background: url(../img/coffee1.PNG) no-repeat center center;
	width: 100%;
	display: table;
	padding: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro h1 {
	font-family: 'Dancing Script';
	color: #fff;
	font-size: 10em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
}

.intro span {
	color: #a7c44c;
	font-weight: 600;
}

.intro p {
	font-family: 'Roboto';
	font-style: normal;
	color: #fff;
	font-size: 20px;
	margin-bottom: 40px;
	line-height: 23px;
}

header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
	text-align: center;
}

.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #72A411;
	font-weight: 700;
	font-size: 16px;
	padding: 14px 15px;
	line-height: 19px;
	border-radius: 0px;
	width: 196px;
	height: 48px;

}


/* About */
#about {
	padding: 83px 0 113px 0;
}

.about-text {
	margin-left: 20px;
}

.about-img {
	display: inline-block;
	position: relative;
}

#about h2 {
	color: #000;
}

#about p {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	line-height: 20px;
}


/* Menu */
#res-menu {
	padding: 0 0 60px 0;
}

#res-menu .sec-title {
	background: #444 url(../img/foodbg.jpg) center center no-repeat fixed;
	background-size: cover;

}

#res-menu .sec-title h2 {
	font-weight: 600;
	font-size: 34px;
	line-height: 40px;
	color: #fff;
}

#res-menu .sec-title hr {
	margin: 0 auto;
	margin-top: 23px;
	margin-bottom: 37px;
}

#res-menu .sec-title .overlay {
	padding: 80px 0;
}

#res-menu p {
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	margin-top: 10px;
	line-height: 26px;
	margin-bottom: 40px;
}

.menu-sec hr {
	margin: 0 auto;
}

.menu-sec {
	margin: 0 70px;
}

.menu-sec-title {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 500;
	display: block;
	color: #444;
	margin-top: 78px;
	margin-bottom: 26px;
	text-align: center;
}

.menu-item {
	margin: 35px 0;
}

.menu-item-name {
	font-size: 17px;
	font-weight: 500;
	color: #444;
	border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-price {
	font-size: 17px;
	font-weight: 500;
	color: #444;
	margin-top: -26px;
	float: right;
}

.menu-item-desc {
	font-style: italic;
	font-size: 15px;
	font-weight: 400;
	color: #777;
	line-height: 18px;
}


/* Staff */
#staff {
	color: #fff;
	background: #444 url(../img/staffbg.jpg) center top no-repeat fixed;
	background-size: cover;
}

#staff .overlay {
	padding: 70px 0 20px 0;
	background: rgba(0, 0, 0, 0.6);
}

#staff h2 {
	font-size: 34px;
	font-weight: 600;

}

#staff p {
	font-size: 22px;
	font-weight: 300;
	line-height: 26px;
	color: #fff;
	margin-bottom: 67px;
}

#staff hr {
	background: #8eb640;
	margin: 0 auto;
	margin-top: 23px;
	margin-bottom: 46px;
}

#staff h3 {
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	margin: 5px 0;
}

#staff img {
	width: 280px;
}

.thumbnail {
	background: transparent;
	border: 0;
}

.thumbnail .staff-img {
	display: inline-block;
	position: relative;
}

.thumbnail .caption {
	padding-top: 10px;
}

#staff .thumbnail .caption p {
	color: #fff;
	padding: 0 10px;
	font-size: 15px;
}

/* Reservation */
#reservation {
	padding: 83px 0;
	background: #8eb640;
}

#reservation h2 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 34px;
	font-weight: 700;
	line-height: 46px;
	margin: 0;
}


/* Contact */
#contact {
	padding: 100px 0 60px 0;
	background: #F6F6F6;
}

#contact form {
	padding: 0;
}

#contact h2 {
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 500;
	color: 333;
}

#contact .sec-title hr {
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 37px;
}

#contact .sec-title p {
	padding-bottom: 66px;
}

#contact p {
	font-size: 22px;
	font-weight: 400;
	color: #444;
}

#contact .text-danger {
	color: #cc0033;
	font-size: 10px;
	text-align: left;
}


/* Footer */
#footer {
	background: #2B2B2B;
	padding: 50px 0 23px 0;
}

#footer h3 {
	color: #8eb640;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#footer p {
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	color: #ddd;
}

#footer .copyrights {
	padding: 35px 0 23px;
}